.sockTable {
  background-color: rgba(255, 255, 255, 0.493);
  padding: 15px;
  margin: 6px;
  width: 150px;
  height: 220px;
  transition: transform 0.3s ease;
  position: relative;
}

.sockTable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  pointer-events: none;
}

.sockTable:hover {
  transform: scale(1.1);
}

.sockTable:hover::before {
  animation: blink 3s infinite;
}

/* @keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #0b7dff;
  }
} */

.ulSock {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.ulSock1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1150px;
  padding: 30px;
}

.ulSock a {
  text-decoration: none;
}

.oneSockImg {
  width: 50px;
}

.oneSockP {
  color: #0b7dff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  margin: 0;
  text-align: center;
  line-height: 1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sockBtn {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  outline: none;
  border: 1px solid #0b7dff;
  border-radius: 10px;
  height: 35px;
  width: 46%;
  line-height: 1.2;
  text-decoration: none;
  color: #0b7dff;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

.sockBtn:hover {
  transform: translate(0, -1px);
  box-shadow: 0 20px 30px 0 #0b7dff;
  background-color: #0b7dff;
  color: rgb(226, 218, 218);
}

.sockBtn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.flexStroke {
  display: flex;
  align-items: center;
  justify-content: center;
}

.oformit {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: 1px solid #0b7dff;
  border-radius: 5px;
  height: 11px;
  width: 80px;
  line-height: 0;
  text-decoration: none;
  color: #0b7dff;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  display: inline-block;
  text-align: center;
  width: 180px;
  height: 50px;
  position: fixed;
  right: 250px;
  bottom: 200px;
}

.oformit:hover {
  transform: translate(0, -1px);
  box-shadow: 0 20px 30px 0 #0b7dff;
  background-color: #0b7dff;
  color: rgb(226, 218, 218);
}

.basketBtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: 1px solid #0b7dff;
  border-radius: 5px;
  height: 11px;
  width: 80px;
  line-height: 0;
  text-decoration: none;
  color: #0b7dff;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  display: inline-block;
  text-align: center;
}

.basketBtn:hover {
  transform: translate(0, -1px);
  box-shadow: 0 20px 30px 0 #0b7dff;
  background-color: #0b7dff;
  color: rgb(226, 218, 218);
}

.basketBtn1 {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: 1px solid #0b7dff;
  border-radius: 5px;
  height: 11px;
  width: 30px;
  line-height: 0;
  text-decoration: none;
  color: #0b7dff;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  display: inline-block;
  text-align: center;
}

.basketBtn1:hover {
  transform: translate(0, -1px);
  box-shadow: 0 20px 30px 0 #005b96;
  background-color: #005b96;
  color: rgb(226, 218, 218);
}

.ulSock2 {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.sockTable1 {
  flex-wrap: wrap;
  margin-top: 20px;
  width: 320px;
  height: 300px;
}

.svgSock {
  flex-wrap: wrap;
  width: 200px;
  display: flex;
}

.oneSockP1 {
  color: #0b7dff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  padding: 1px;
  text-align: center;
  line-height: 1;
}

.qwq {
  background-color: #e0f7ff;
  background-color: #8dc2ff9a;
  background-color: #8dc2ff9a;
  color: #005b96;
  color: #0b7dff;
  color: #007bb5;
  background-color: #b3e5fc;
  background-color: #b3e5fc;
  border-top: 1px solid #81d4fa;
  color: #0277bd;
}

.basketBt3 {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  border: 1px solid #0b7dff;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  line-height: 0;
  text-decoration: none;
  color: #0b7dff;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  display: inline-block;
  text-align: center;
}

.basketBt3:hover {
  transform: translate(0, -1px);
  box-shadow: 0 20px 30px 0 #0b7dff;
  background-color: #0b7dff;
  color: rgb(226, 218, 218);
}