.sockTable {
  background-color: rgba(255, 255, 255, 0.493);
  padding: 15px;
  margin: 6px;
  width: 150px;
  height: 220px;
  transition: transform 0.3s ease;
  position: relative;
}

.sockTable::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  pointer-events: none;
}

.sockTable:hover {
  transform: scale(1.1);
}

.sockTable:hover::before {
  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #603913;
  }
}

.ulSock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.ulSock a {
  text-decoration: none;
}

.oneSockImg {
  width: 50px;
}

.oneSockP {
  color: #603913;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  margin: 0;
  text-align: center;
  line-height: 1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.sockBtn {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: 1px solid #603913;
  border-radius: 5px;
  height: 25px;
  width: 30%;
  line-height: 0;
  text-decoration: none;
  color: #603913;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
}

.sockBtn:hover {
  transform: translate(0, -1px);
  box-shadow: 0 20px 30px 0 #603913;
  background-color: #603913;
  color: rgb(226, 218, 218);
}

.sockBtn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}