.logWindow {
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('https://example.com/alchemy-background.jpg')no-repeat center center fixed;
  background-size: cover;
}

.logTitle {
  margin-bottom: 30px;
  font-size: 55px;
  color: #603913;
  text-shadow: 2px 2px 4px #000000;
}

.inputBlockLog {
  display: flex;
  align-items: center;
  width: 40%;
  height: 20px;
  justify-content: space-evenly;
  margin-top: 15px;
}

.buttonBlockLog {
  display: flex;
  width: 30%;
  margin-top: 15px;
  justify-content: space-evenly;
}

.inputLog {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 15px 15px 0;
  outline: none;
  border: 1px solid #603913;
  border-radius: 5px;
  height: 45px;
  width: 70%;
  line-height: 0;
  text-decoration: none;
  color: #603913;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.logBtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 15px 15px 0;
  outline: none;
  border: 1px solid #603913;
  border-radius: 5px;
  height: 46px;
  width: 100%;
  line-height: 0;
  text-decoration: none;
  color: #603913;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  font-weight: bold;
}

.errorMessage {
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  background-color: #8B0000;
  color: white;
  padding: 10px 20px;
  margin-top: 300px;
  border-radius: 5px;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.logBtn:hover {
  transform: translate(0,-2px);
  box-shadow: 0 20px 40px 0 #603913;;
}

.errorText {
  font-weight: bold;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.slideInDown {
  animation-name: slideInDown;
}